!!!5
html
	head
		title Интернет магазин  Az-Az.
		script(type="text/javascript", src="/js/jquery-1.10.2.min.js")
		script(type="text/javascript", src="/js/bootstrap.min.js")
		script(type="text/javascript", src="/js/jstz.min.js")
		
		block css
			link(rel='stylesheet', href='/css/bootstrap.min.css')
			link(rel='stylesheet', href='/css/bootstrap-glyphicons.css')
			// link(href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,400italic&subset=latin,cyrillic', rel='stylesheet', type='text/css')
			link(rel='stylesheet', href='/css/style.css')

		script
	body
		.container
			
			h1 RPG login
			h2 Player console
			.row
				.col-md-12.col-xs-12
					h3 Assets
					
				.col-md-6.col-xs-6
					h3 Missions
					table.table.table-striped
						tr
							th #
							th Creator
							th Name
						-var C = 0;
						-each mission,key in missions
							-C = C+1;
							tr
								td #{C}
								td #{mission.creator}
								td 
									a.btn.btn-primary(href="/missions/join/#{key}/") join
							tr
						-
						//-	
								td 2
								td Now...
								td Protection of transport in ASi4
						//- 
							tr 
								td 3 
								td in 15 minutes
								td Attack of the doorway to Jigutil's Dangeon
				.col-md-6.col-xs-6
					h3 Positions in mission
					table.table.table-striped
						tr
							th #
							th Position
							th Prereq
							th Description
						tr
							td 1
							td Pilot
							td Own ship
							td Coords will arrive
						tr
							td 2
							td Gun Man
							td small projectile turret lvl 2
							td --
					a.btn.btn-primary(href='/missions/create/') create!
								
		
			
		