!!!5
html
	head
		title Консоль управления 
		script(type="text/javascript", src="/js/jquery-1.10.2.min.js")
		script(type="text/javascript", src="/js/bootstrap.min.js")
		script(type="text/javascript", src="/js/jstz.min.js")
		
		block css
			link(rel='stylesheet', href='/css/bootstrap.min.css')
			link(rel='stylesheet', href='/css/bootstrap-glyphicons.css')
			// link(href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,400italic&subset=latin,cyrillic', rel='stylesheet', type='text/css')
			link(rel='stylesheet', href='/css/style.css')

		script
			// var  = '!{missions_text}'
			// console.log(mjs);
			// var missions = JSON.parse(mjs)
			// console.log("PP",missions);
			$(function(){
				$('#mission-table tr').click(function(){
					// this == tr
					var m_id = $(this).attr('mission_id');
					// var mis = missions[m_id];
					$.ajax({url:"/missions/get_mission_state/" + m_id + '/',
							'dataType':'JSON',
							success: function(st){
								if (st.is_ready){
									$('<a>').text('join').addClass('btn btn-success').click(function(){
										window.location = "/world/";
									}).appendTo($('.go_container'));
									
								}else{
									//console.log('NOT ready');
								}
							}})
					
					$.getJSON("/missions/get_positions/"+m_id + '/',function(json){
						$('#mission-positions').find('*').remove();
					
						$.each(json, function(i,wp){
							var tr = $('<tr>');
							console.log(wp);
							$('<td>').text(wp.command).appendTo(tr);
							$('<td>').text(wp.ship_type).appendTo(tr);
							$('<td>').text(wp.workpoint).appendTo(tr);
							if(!wp.busy){
								$('<td>').appendTo(tr).append(
								$('<a>').text('join').addClass('btn btn-success').click(function(){
									$.ajax({url:"/missions/join/"+m_id + '/',
											data:{command:wp.command,
												object_guid:wp.object_guid,
												workpoint:wp.workpoint },
											success: function(){
												window.location.reload();
											}
										
											})
								})
								)
							}
							
							
							tr.appendTo($('#mission-positions'));
						})
					})
				})
			});
	body
		.container
			
			h1 RPG login
			h2 Player console
			a.btn.btn-primary(href="/auth/logout/") Выйти
			.row
				.col-md-12.col-xs-12
					h3 Assets
					
				.col-md-6.col-xs-6
					h3 Missions
					table.table.table-striped#mission-table
						tr
							th #
							th Creator
							th Name
						-var C = 0;
						-each mission,key in missions
							-C = C+1;
							tr(mission_id='#{mission.GUID}')
								td #{C}
								td #{mission.creator}
								td was button here
				.col-md-6.col-xs-6
					.go_container
						
					h3 Positions in mission
					table.table.table-striped#mission-positions
						tr
							th #
							th Position
							th Prereq
							th Description
						tr
							td 1
							td Pilot
							td Own ship
							td Coords will arrive
						tr
							td 2
							td Gun Man
							td small projectile turret lvl 2
							td --
					a.btn.btn-primary(href='/missions/create/') create!
								
		
			
		