doctype html
html
	head
		title Консоль управления 
		script(type="text/javascript", src="/js/jquery-1.10.2.min.js")
		script(type="text/javascript", src="/js/bootstrap.min.js")
		script(type="text/javascript", src="/js/jstz.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="/js/gl/console.js")
		script(type="text/javascript", src="/js/underscore-min.js")
		
		
		block css
			link(rel='stylesheet', href='/css/bootstrap.min.css')
			link(rel='stylesheet', href='/css/bootstrap-glyphicons.css')
			// link(href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,400italic&subset=latin,cyrillic', rel='stylesheet', type='text/css')
			link(rel='stylesheet', href='/css/style.css')

		script.
			$(function(){
				var C = new Cons("#{auth_hash}")
				C.init();
			})
	body
		div.contaner
			div.row
				div.col-md-2.col-md-offset-10
					div.dropdown 
						a#dlabel("data-toggle"="dropdown", role="button", href="#") 
							| #{ user.username }
							span.caret
						ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
							li 
								a(href='/logout/') Выход
		.container
			ul.nav.nav-tabs
				li
					a(href="#positions",data-toggle="tab") Доступные позиции
				li
					a(href="#my-missions",data-toggle="tab") Мои миссии
				li
					a(href="#my-assets",data-toggle="tab") Мои активы
				li
					a(href="#settings",data-toggle="tab") Настройки
	

			div.tab-content
				div#positions.tab-pane.active 
					h3 Здесь у нас список доступных позиций для управления
					.row
						.col-md-6
							b Доступные позиции
							#player-position-list
						.col-md-6
							b Занятые позиции
							#owned-position-list
							
				div.tab-pane#my-missions
					h3 Здесь будем создавать и редактировать миссии
					.row
						.col-md-6
							b Список моих миссий
							#my-mission-list
						.col-md-6
							b Список позиций на миссию

							#mission-position-list
							
					a.btn.btn-primary#create-mission create!
					
				div.tab-pane#my-assets Здесь будет список активов, разбросанных по галактике
				div.tab-pane#settings Настройки для меня
			
								
		
			
		