!!!5
html
	head
		title Интернет магазин  Az-Az.
		script(type="text/javascript", src="/js/jquery-1.10.2.min.js")
		script(type="text/javascript", src="/js/bootstrap.min.js")
		script(type="text/javascript", src="/js/jstz.min.js")
		
		block css
			link(rel='stylesheet', href='/css/bootstrap.min.css')
			link(rel='stylesheet', href='/css/bootstrap-glyphicons.css')
			link(href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,400italic&subset=latin,cyrillic', rel='stylesheet', type='text/css')
			link(rel='stylesheet', href='/css/style.css')

		script
	body
		.jumbotron
			h1
					Интернет магазин товаров, которые мне понравились особенно
		.hidden
			| <!-- Yandex.Metrika informer --><a href="http://metrika.yandex.ru/stat/?id=22899682&amp;from=informer" target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/22899682/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:22899682,lang:'ru'});return false}catch(e){}"/></a><!-- /Yandex.Metrika informer --><!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter22899682 = new Ya.Metrika({id:22899682, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/22899682" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
			
		
