!!! 5
html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		title Светодиодный светильник на липучке 
		link(href='style.css', rel='stylesheet', type='text/css')
		script(type="text/javascript", src="/js/jquery-1.10.2.min.js")
		script(type="text/javascript", src="/js/bootstrap.min.js")
		script(type="text/javascript", src="/js/jstz.min.js")
		
		block css
			link(rel='stylesheet', href='/css/bootstrap.min.css')
			link(rel='stylesheet', href='/css/bootstrap-glyphicons.css')
			link(href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,400italic&subset=latin,cyrillic')
	body
		#main
			h1
				| Липучий светильник на батарейке
				br
				| Эврика, ни одного провода
			h2 Модная Новинка! Хит Продаж!
			h3 нажмите play и посмотрите видео
			#beginText
				iframe(width='560', height='315', src='http://www.youtube.com/embed/VnAt0MJMufw?rel=0', frameborder='0', allowfullscreen='allowfullscreen')
			h2 Часы, которые удивляют!
			div(align='center')
				img(src='img/1.jpg', width='600', height='532')
				h1 Внимание Акция!!!
				iframe(src='timer/index.php.htm', width='600', height='120', marginwidth='0', marginheight='0', scrolling='no', frameborder='0', hspace='0', vspace='0', allowtransparency='true', style='background-color: transparent;')
				h1 Цена
				p.d 1200 руб.
				p#price 699 руб.
				a(href='#', data-reveal-id='myModal')
					#button
				#myModal.reveal-modal
					p Способ оплаты наложенным платежом Почтой России 
					img(src='img/1234.gif', width='150', height='75')
					p
						| Оплата при получении посылки на руки, в ближайшем к Вашему дому почтовом отделении.
					iframe(src='qwe.htm', width='500', height='500', marginwidth='0', marginheight='0', scrolling='no', frameborder='0', hspace='0', vspace='0', allowtransparency='true', style='background-color: transparent;')
					a.close-reveal-modal ×
			.otziv
				h2
					strong Отзывы покупателей:
				ul.otziv_box
					li
						span.name
							a(href='#') Юрий, Москва
						span.text Сегодня получил часы. Доволен как ребенок)) очень классные и молодежные часы!
					li
						span.name
							a(href='#') Вадим, Зеленокумск
						span.text
							| Надёжные, хотя стараюсь их не мочить. Очень хорошо смотрятся на руке. Функционал для меня достаточный и ничего лишнего.	Часами очень доволен, на руке часы как "продолжение руки" очень удобно лежат!!! Хорошие стильные часы! Рекомендую )))
					li
						span.name
							a(href='#') Александр, Хабаровск
						span.text
							| Больше в россии таких моделей не нашел. Вобщем, просто и со вкусом) Спасибо! Буду рекомендовать вас друзьям, в случае необходимости.
					li
						span.name
							a(href='#') Ноомиджейн Каюла, Самара
						span.text
							| Подарила мужу на день Р. второй день пищит от удовольствия, доволен вожделенными взглядами коллег и фразами "На его месте должен быть я".Говорит траки супер!!! Спасибо вам большое:)))
					li
						span.name
							a(href='#') Алексей, Балтийск
						span.text
							| Часики отличные!, нет слов. Особенно понравилась необычная свтеодиодная подствека и браслет. Берите, если найдете, поскольку эту модельку чуть ли не с руками отрывают, пожаловались в магазине. =))
					li
						span.name
							a(href='#') Андрей, Тейково
						span.text
							| Я очень доволен покупкой! Стал обладателем часов самурай.	Рекомендую: товар качественный, заявленному описанию соответствует а цена адекватная!!! Супер!!!
					li
						span.name
							a(href='#') Антон, Москва
						span.text
							| Вчера получил часы. Я просто восторге, даже лучше чем на сайте реклама. Мне всегда нравиться все простое без каких либо примочек. Во общем кому они понравились берите не задумываясь, не о чем не пожалеете.
					li
						span.name
							a(href='#') Олег, Мурманска
						span.text
							| Получил часы.Очень доволен.Шли до Мурманска 10 дней.Буду и дальше пользоваться услугами магазина.Спасибо.Посмотрим в работе.
					li
						span.name
							a(href='#') Сергей, Санкт-Петербург
						span.text
							| Увидел часы в рекламе, и дизайн заставил не задумываясь купить их.
							br
							| + : Дизайн, точность времени, простота в настройке и управлении, батарейка кажется вечной)
							br
							| + : Цена ниже чем в других местах, проверено.
							br
							| + : Яркая подсветка, даже в солнечные дни на дисплее очень четко отображается время. Так что если хотите что нибудь интересное и новое, то эти часы для вас)
					li
						span.name
							a(href='#') Ильдар, Казань
						span.text
							| Я думал, что никогда не буду носить часы, типо зачем, на это и телефона хватает, но когда я увидел Samurai тотчас заказал, и "посылка" ничуть не разочаровала, они на самом деле громоздкие классные ОРИГИНАЛЬНЫЕ. Я без них уже никуда не выхожу, часы стали частью моего стиля)
					li
						span.name
							a(href='#') Алексей, Сызрань
						span.text
							| Часы понравились своей формой,в целом как один целый браслет.на руке смотрятся отлично.браслет уменьшается разобраться не трудно.с установкой времени и даты разобрался сразу всё просто и доступно.ожидание того стоило,за такие деньги хороший товар,доволен как слон.Спасибо
					li
						span.name
							a(href='#') Владимир, Хабаровск
						span.text
							| Часы заставляют обратить на них внимание. Мощный брутальный браслет. Оригинальная вещь. Покупкой доволен.
					li
						span.name
							a(href='#') Михаил, Озерск
						span.text
							| Часы просто класс! Когда впервые увидел на сайте - просто обалдел! Люблю оригинальные и стильные штучки! Спустя месяц после получения на рыбалке случайно зацепил застёжку браслета и уронил в воду... Расстроился, думал - всё! Полежали в тепле сутки и пошли опять! Ничего не разбирал, сами просохли. Большое спасибо!теперь буду постоянно пользоваться Вашими услугами!
					li
						span.name
							a(href='#') Елена, Зеленогорск
						span.text
							| Получила часы, супер. Муж доволен. Будем заказывать ещё.
					li
						span.name
							a(href='#') Ольга Петровна, Йошкар-Ола
						span.text
							| Спасибо, часы носит сын, браслет уменьшил сам и очень ловко и быстро. Всё семейство довольно.
					li
						span.name
							a(href='#') Иван, Москва
						span.text
							| Получил сей девайс сегодня - 10/05/2012. Успел сделать себе подарок на день рождения. Отличный девайс! Массивные (берешь в руку - маешь вещь!) - понимаешь, что не из дешевой пластмассы, а из нормального металла, крупные, но аккуратные, и очень симпатичные. В общем - очень понравились! Спасибо!
				h2
					strong Присылайте отзывы на: drim.nik@ya.ru
